@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  --Tomato: hsl(4, 100%, 67%);
}

ul {
  list-style: none;
}

body {
  background-color: var(--Dark-Slate-Grey);
}

input {
  outline: none;
}
