.sign-up__Container--Section {
  display: flex;
  justify-content: center;
}
.sign-up__Container {
  width: max-content;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18vh;
  background-color: var(--White);
  border-radius: 2rem;
}

.sign-up__Tittle {
  font-size: 60px;
  margin: 2rem 0;
}

.sign__List > li {
  margin: 1rem 0;
}

.sign__List > li > span {
  margin-left: 1rem;
}

.sign-up__Credential--Information {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signUp__Email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5rem 0;
}

.signUp__Email > label {
  margin-bottom: 10px;
}

.signUp__Input--Email {
  padding: 1rem;
  width: 400px;
  border-radius: 1rem;
}

.sign__Submit--Button {
  background-color: var(--Dark-Slate-Grey);
  padding: 1rem;
  border-radius: 1rem;
  width: 400px;
  color: var(--White);
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.sign__Submit--Button:hover {
  background-color: var(--Tomato);
  transition: 0.5s;
}

@media (max-width: 768px) {
  body {
    background-color: var(--White);
  }
  .sign-up__Image > img {
    width: 300px;
    padding-top: 1rem;
  }
  .sign-up__Container {
    flex-direction: column-reverse;
    margin-top: 0px;
    border-radius: 0%;
    padding: 0;
    padding-bottom: 2.5rem;
  }
  .sign-up__Credential--Information {
    align-items: center;
  }
  .signUp--info {
    padding: 1.5rem;
  }
  .sign-up__Tittle {
    padding: 5px;
    font-size: 50px;
  }
  .signUp__Input--Email {
    width: 100%;
  }
  .sign__Submit--Button {
    width: 100%;
  }
}
