.confirmation__Section {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  padding: 2rem;
}

.corfirmation__Section--Message {
  margin-top: 18vh;
  width: 500px;
  background-color: var(--White);
  padding: 3rem;
  border-radius: 1rem;
}

.confirmation__Title {
  font-size: 45px;
  margin: 1.5rem 0;
}

.confirmation__Button {
  width: 400px;
  padding: 1rem;
  background-color: var(--Dark-Slate-Grey);
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 1rem;
  color: var(--White);
  font-size: 18px;
}

.confirmation__Button:hover {
  background-color: var(--Tomato);
  transition: 0.5s;
}

@media (max-width: 768px) {
  body {
    background-color: var(--White);
  }
  .confirmation__Button {
    width: max-content;
  }
  .corfirmation__Section--Message {
    margin-top: 3rem;
    padding: 2rem;
  }
}
